<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </head>

    <body>

    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <span class="navbar-brand h3">MediVentry</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#newMenu" aria-controls="newMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>                
        <div class="collapse navbar-collapse" id="newMenu">
            <div class="navbar-nav">
                <a href="/" class="nav-item nav-link">Home</a>
                <a href="/meds" class="nav-item nav-link">Available Meds</a>
                <a href="/add" class="nav-item nav-link">Add Meds</a>
            </div>
        </div>
    </nav>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <h3>ADD MEDS HERE:</h3>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form class="med'SubmitForm" action = "/meds/Add" method = "post">
                        <input type="text" name="name" placeholder="Name"><br><br>
                        <input type="text" name="count" placeholder="Count"><br><br>
                        <input type="text" name="brand" placeholder="Brand"><br><br>
                        <button class="btn btn-primary" type="submit">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>